.navbar-nav > li > a {
    font-size: medium;
}

.nav-tabs > li > a {
    padding: 5px 15px;
    font-size: smaller;
}

.container.page {
    margin-top: 72px;

    .jumbotron {
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 30px;
        }

        &.post {
            padding-top: 12px;
            padding-bottom: 24px;
        }
        &.slim {
            padding-top: 12px;
            padding-bottom: 12px;
            //margin-bottom: 12px;
        }

        p {
            font-size: medium;
        }

        .head-and-button {
            h3 {
                display: inline-block;
            }
            div {
                display: inline-block;
                position: relative;
                a {
                    position: absolute;
                    top: 10px;
                    right: 0px;
                }
            }
        }
        .markdown p {
            font-size: medium;
            img {
                max-width: 100%;
            }
        }

        .wrote-by {
            color: #888;
            font-size: medium;
            &.small {
                font-size: 80%;
            }
        }
    }

    form {
        input[name="title"] {
            //background-color: #4E5D6C;
            //color: #EBEBEB;
            font-size: 26px;
            height: auto;

            padding-top: 12px;
            padding-bottom: 12px;
            margin-bottom: 12px;
        }
        textarea[name="description"] {
            //background-color: #4E5D6C;
            //color: #EBEBEB;
        }
    }

    .markdownContent, .markdownPreview {
        width: 100%;
        float: none;
        padding-left: 0;

        .preview {
            color: inherit;
            background-color: rgb(78, 93, 108);
        }
    }
    //.markdownControls, .markdownPreview {
    //    display: none;
    //}
    //
    //.markdownContent {
    //    width: 100%;
    //}

    .selectize-input {
        border-radius: 0;
        &.focus {
            border-color: transparent;
            box-shadow: none;
        }
    }
    .selectize-input > .item {
        border-radius: 0;
        background-color: #4E5D6C;
        color: white;
        padding: 2px 5px;
        &.active {
            background-color: #2B3E50;
        }
    }

    img.emoji {
        height: 1em;
        width: 1em;
        margin: 0 .05em 0 .1em;
        vertical-align: -0.1em;
    }
}