<template name="editPostPage">
    {{#loggedInOnly}}
        {{#waitingFor status=Template.subscriptionsReady}}
            {{#ownerOnly doc=post}}
                {{#autoForm doc=post collection="List" id="editPostForm" type="update"}}
                    {{> afQuickField name="title" label="Edit title"}}
                    {{> afQuickField name="description"  label="Edit details"}}
                    {{> afQuickField name="tags" label="Edit tags" class="tags" selectizeOptions=tags}}
                    <div class="text-left">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <button type="cancel" class="btn btn-default btn-cancel">Cancel</button>
                    </div>
                {{/autoForm}}
            {{/ownerOnly}}
        {{/waitingFor}}
    {{/loggedInOnly}}
</template>