<template name="editPostPage">
    {{# loggedInOnly}}
        <div class="jumbotron slim">
            <h2>Edit Post</h2>
        </div>

        {{#autoForm doc=post collection="List" id="editPostForm" type="update"}}
            {{> afQuickField name='title'}}
            {{> afQuickField name='description'}}
            {{> afQuickField name='tags' class="tags" selectizeOptions=tags}}
            <button type="submit" class="btn btn-primary">Save</button>
        {{/autoForm}}

    {{/loggedInOnly}}
</template>