<template name="listPostPage">
    {{#waitingFor status=Template.subscriptionsReady}}
        <div class="jumbotron">
            <h2>Post List</h2>
        </div>
        {{#each post in list}}
            <div class="jumbotron post {{post.draftClass}}">
                <h3><a href="{{pathFor 'post' id=post._id}}">{{post.title}}</a>
                    <br><div class="wrote-by">{{#with post.ownerName}}by {{this}}{{/with}}
                        @ {{>_timeAgo timestamp=post.dateLastUpdated}}</div>
                </h3>
                <div class="markdown">{{{renderMarkdownEmoji post.excerpt}}}</div>
            </div>
        {{else}}
            No data
        {{/each}}
    {{/waitingFor}}
</template>