<template name="listPostPage">
    {{#waitingFor status=Template.subscriptionsReady}}
        <div class="jumbotron">
            <h2>Post List</h2>
        </div>
        {{#each post in list}}
            <div class="jumbotron post">
                <h3><a href="{{pathFor 'post' id=post._id}}">{{post.title}}</a>
                    {{#with post.ownerName}}
                        <br><div class="wrote-by">by {{this}}</div>
                    {{/with}}
                </h3>
                <div class="markdown">{{{renderMarkdown post.excerpt}}}</div>
            </div>
        {{else}}
            No data
        {{/each}}
    {{/waitingFor}}
</template>